<h1>burger!</h1>

<h2>burgers that are not devored</h2>

<ul>
  {{#each burger}}
    {{#unless devouredy}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
{{!-- <form class="create-form"> --}}

<form method="POST" action="/api/burgers">
    <label for="burger_name">burger Name:</label>
    <input type="text" id="burger" name="name">
    <button type="submit">Add burger</button>
</form>
